@font-face {
    font-family: burgernation;
    src: url(Burger\ Nation.otf);
}

body{
    overflow: hidden;
    font-family: Geneva, Arial;
    animation: opacity 1s 1;

}
#indexfont{
    font-family: burgernation;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    font-size: 6vh;
}
header{
    font-family: burgernation;
    text-align: center;
    font-size: 3vh;
    
}
#selectionBox{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1vw;
}
#selectionHeader{
    text-align: center;
    animation: opacity 1s 1;
}
.select{
    text-align: center;
    width: 15vw;
    height: 15vw;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #000;
    border-radius: 1vw;
    transition: all 0.5s;
}
.select:hover{
    border-radius: 2vw;
    filter: brightness(75%);
    transition: all 0.5s;
}
#top{
    top: 21vh;
    z-index: 5;
}
#bottom{
    top: 23vh;
    z-index: 2;
}
#salad{
    top: 27vh;
    z-index: 4;
}
#meat{
    top: 23vh;
    z-index: 3;
}
#cookBox img{
    position: absolute;
    width: 20%;
    left: 40%;
}
#linkEnd{
    position: absolute;
    top: 63vh;
    left: 41.5%;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
    opacity: 0;
    transition: all 0.5s;
}
#linkEnd:hover{
    filter: drop-shadow(7px 5px 5px);
}
#Werte{
    
    text-align: center;
    width: 60vw;
    border: 3px solid #000;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1vw;
    margin-left: auto;
    margin-top: 15vh;
    margin-right: auto;
}
.bold{
    font-weight: bold;
    font-size: 1.5em;
}
@keyframes opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}